# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment
.env
.env.local
.env.production.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
